{% extends "base.html" %}

{% block title %}Todo List{% endblock %}

{% block content %}
  <h1 class="pb-3">
    TODO list
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary float-right">
        Add task
      </a>
  </h1>

  {% for task in task_list %}
    <h5>
      {{ task.content }}
      {% if task.is_done %}
        <span class="text-success">Done</span>
      {% else %}
        <span class="text-danger">Not done</span>
      {% endif %}
    </h5>
    <p>
      Created: {{ task.created }} <span style="color: maroon">Deadline: {{ task.deadline }}</span>
    </p>
    <p class="text-muted">
      Tags: {% for tag in task.tags.all %}{{ tag.name }}{% endfor %}
    </p>
  {% endfor %}
{%  endblock %}
